html, body {
  font-family: 'Space Mono', monospace;
  font-size: 25px;
  height: 100%;
  color: #222;
  background-color: #FBE8A6;
  text-align: center;
  line-height: 1.4em;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.header{
  padding: 0;
  background-color: #303C6C;
  color: white;
  margin: 0;
}

p {
  font-size: 18px;
}

main {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

form {
  margin: 10px auto;
  padding: 20px;
  max-width: 600px;
}

label {
  margin-right: 10px;
}

input {
  padding: 5px;
}

input[type='text'] {
  width: 220px;
  text-align: center;
}

.example h2{
  font-size: 22px;
}

.example a{
  font-size: 18px;
}

a {
  color: #2574a9;
}

footer {
  padding: 15px;
  margin-top: auto;
  text-align: center;
  flex-shrink: 0;
}